<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="2.8" targetFramework="net40" />
  <package id="log4net" version="2.0.5" targetFramework="net40" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net40" developmentDependency="true" />
</packages>